* {
    box-sizing: border-box;
}


body {
    background-color: gray;
}

.keys {
    background-color: rgb(235, 49, 49);
    
}

.thekey {
    border: 3px solid black;
    list-style-type: none;
    float: left;
    text-align: center;

}

.black-key {
    width: 5%;
    background-color: black;
    height: 350px;
    font-style: italic;
    color: white;


}

.white-key {
    background-color: white;
    width: 10%;
    height: 500px;
    color: black;
}


li {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 100%;

}