* {
    box-sizing: border-box;
}


body {
    background-color: gray;
}

.keys {
    background-color: rgb(235, 49, 49);
    
}

.thekey {
    border: 3px solid black;
    list-style-type: none;
    float: left;
    text-align: center;
    position: relative;

}

/*
.thekey:hover {
    background-color: green;
}
    */

.black-key {
    width: 5%;
    background-color: black;
    height: 350px;
    font-style: italic;
    color: white;
    z-index: 1;
}

.first-black, .second-black, .third-black, .fourth-black, .fifth-black {
    position: absolute;
}

.first-black {
    left: 9.5%;

}

.second-black {
    left: 19.5%;
}

.third-black {
    left: 38.75%;
}
.fourth-black {
    left: 48.5%;
}
/*
.fifth-black {
    left: 58.5%;
}
    */

.white-key {
    background-color: white;
    width: 10%;
    height: 500px;
    color: black;
    position: relative;
}


li {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 100%;

}